#myCanvas {
    border: 5px solid white;
    background-color:rgb(155, 131, 131);
    border-radius: 1%;

  }

  .userList {
    float:left;
    width:100px;
    height:300px;
    border-right:5px solid white;
    padding:10px;
    overflow:scroll-y;
    position: absolute;
    top: 10px;
    right: 360px;
    text-align: center;

  }

  .chatMessages {
    float:left;
    width:300px;
    height:250px;
    overflow:scroll-y;
    padding:10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .level {
    float:left;
    position: absolute;
    padding:40px;
    top: 10px;
    right: 1100px;
    color: #f2ff00;
    text-align: center;

  }

  .info {
    width:300px;
    height:200px;
    border-right:2px solid white;
    border-left:2px solid white;
    border-top:2px solid white;
    border-bottom:2px solid white;
    text-align: center;

  }